body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background    : url("../background.png") repeat #3b1e2f;
    font-family   : 'Roboto', sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    font-size      : 1em;
    display: flex;
    flex: 1;
    align-items    : center;
    justify-content: center;
}

.navbar {
    background-color: white;
}

footer {
    background-color: #000418;
    text-align      : center;
    font-size       : 1.2em;
    padding         : 0.5em 0;
    width           : 100%;
}

@font-face {
    font-family: "Pricedown";
    src        : url("pricedown bl.ttf") format("truetype");
}

h1 {
    font-family: Pricedown, Impact, sans-serif;
    font-size  : 6em;
    line-height: 1em;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size  : 4em;
    line-height: 1em;
    text-shadow: -4px 0 #70004B, 0 4px #70004B, 4px 0 #70004B, 0 -4px #70004B;
    margin     : 0.2em;
}

label {
    cursor: pointer;
    filter: grayscale(100%);
}

label:hover {
    filter: grayscale(0);
}
input[type="radio"]:checked + label {
    filter: grayscale(0);
}
